/* ---------- IMPORT GLOBAL STYLES ---------- */

@use "../globals.scss" as globals;

/* ---------- MOBILE-FIRST (max-width: 480px) ---------- */

.slider {
    width: 90%;
    height: 255px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: globals.$mobile-radius;
    position: relative;
    .slideImg {
        width: 100%;
        height: 255px;
        object-fit: cover;
        border-radius: globals.$mobile-radius;
    }
    .leftArrow {
        @include globals.mobileSliderArrow;
        left: 10px;
    }
    // En format mobile, le compteur de slides n'est pas affiché
    .slideCounter {
        opacity: 0;
    }
    .rightArrow {
        @include globals.mobileSliderArrow;
        right: 10px;
    }
    .hiddenArrow{
        display: none;
    }
}


/* ---------- IPAD, TABLETS (min-width: 481px / max-width: 768px) ---------- */


/* ---------- SMALL SCREENS, LAPTOPS (min-width: 769px / max-width: 1024px) ---------- */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .slider {
        height: 415px;
        border-radius: globals.$desktop-radius;
        margin-bottom: 24px;
        .slideImg {
            height: 415px;
            border-radius: globals.$desktop-radius;
        }
        // En format desktop, le compteur de slides est affiché
        .slideCounter {
            opacity: 1;
            color: globals.$secondary-color;
            position: absolute;
            bottom: 25px;
            left: 50%;
            font-size: 18px;
        }
        .leftArrow {
            @include globals.desktopSliderArrow;
            left: 23.3px;
        }
        .rightArrow {
            @include globals.desktopSliderArrow;
            right: 23.3px;
        }
    }
}


/* ---------- DESKTOP, LARGE SCREENS (min-width: 1025px / max-width: 1200px) ---------- */

@media screen and (min-width: 1025px) {
    .slider {
        max-width: 1240px;
        height: 415px;
        margin-bottom: 24px;
        .slideImg {
            height: 415px;
            border-radius: globals.$desktop-radius;
        }
        .slideCounter {
            opacity: 1;
            color: globals.$secondary-color;
            position: absolute;
            bottom: 25px;
            left: 50%;
            font-size: 18px;
        }
        .leftArrow {
            @include globals.desktopSliderArrowPosition;
            left: 23.3px;
        }
        .rightArrow {
            @include globals.desktopSliderArrowPosition;
            right: 23.3px;
        }
    }
}


/* ---------- EXTRA LARGE SCREENS (min-width: 1201px) ---------- */