// Styles des informations relatives à chaque appartement sur chaque page dédiée

// Cette feuille concerne les styles du nom de l'appartement, de la localisation de l'appartement, des tags, des informations sur 
// le propriétaire de l'appartement et la notation de l'appartement

// /!\ /!\ Le carousel et les collapses "Description" et "Équipements n'en font pas partie /!\ /!\

/* ---------- MOBILE-FIRST (max-width: 480px) ---------- */

.sections {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    .lodgingInfos {
        color: #FF6060;
        .lodgingTitle {
            font-weight: 400;
            font-size: 18px;
            width: 100%;
            word-break: break-word;
            line-height: 25.7px;
        }
        .lodgingLocation {
            font-weight: 400;
            font-size: 14px;
            line-height: 25.7px;
        }
        .tagsList {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            height: fit-content;
            margin-top: 12.1px;
            margin-bottom: 15px;
            font-size: 10px;
            line-height: 14.2px;
            .tag {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFFFFF;
                background-color: #FF6060;
                height: 18px;
                padding: 1% 2%;
                margin-right: 1%;
                border-radius: 5px;
            }
        }
    }
    .hostAndRatingInfos {
        margin-top: 0px;
        .rating {
            margin-top: 0px;
        }
        
    }
}

.hostAndRatingInfos {
    color: #FF6060;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .host {
        display: flex;
        align-items: center;
        .hostName {
            display: flex;
            width: min-content;
            text-align: right;
            font-size: 12px;
            margin-right: 10.5px;
            
        }
        .hostPicture {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}

/* ---------- IPAD, TABLETS (min-width: 481px / max-width: 768px) ---------- */


/* ---------- SMALL SCREENS, LAPTOPS (min-width: 769px / max-width: 1024px) ---------- */

@media screen and (min-width: 769px) {
    .sections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .lodgingInfos {
            .lodgingTitle {
                font-size: 20px;
                line-height: 37px;
            }
            .lodgingLocation {
                font-size: 16px;
                line-height: 25.7px;
            }
            .tagsList {
                margin-top: 20px;
                margin-bottom: 26px;
                .tag {
                    height: 25px;
                    font-size: 14px;
                    border-radius: 10px;
                }
            }
        }
        .hostAndRatingInfos {
            display: flex;
            flex-direction: column;
            height: 120px;
            .host {
                .hostName {
                    font-size: 18px;
                }
                .hostPicture {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }
            .rating {
                margin-top: 0;
                margin-bottom: 10px;
                width: max-content;
            }
        }
    }
}

/* ---------- DESKTOP, LARGE SCREENS (min-width: 1025px / max-width: 1200px) ---------- */

@media screen and (min-width: 1025px) {
    .sections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1240px;
        .lodgingInfos {
            .lodgingTitle {
                font-size: 36px;
                line-height: 51.3px;
            }
            .lodgingLocation {
                font-size: 18px;
                line-height: 25.7px;
            }
        }
        .hostAndRatingInfos {
            display: flex;
            flex-direction: column;
            height: 120px;
            margin-left: 30px;
            .hostName {
                font-size: 18px;
            }
            .hostPicture {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
            .rating {
                margin-top: 30px;
                margin-bottom: 10px;
                width: max-content;
            }
        }
    }
}

/* ---------- EXTRA LARGE SCREENS (min-width: 1201px) ---------- */