/* ---------- MOBILE-FIRST ---------- */

.collapseContainer {
    width: 90%;
    margin: 0 auto;
}


/* ---------- RESPONSIVE TAB ---------- */



/* ---------- RESPONSIVE DESKTOP ---------- */

@media screen and (min-width: 1001px) {
    .collapsesContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .collapse {
            width: 90%;
            p {
                font-size: 18px;
            }
        }    
    }
}