/* ---------- MOBILE-FIRST (max-width: 480px) ---------- */
.sections {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.sections .lodgingInfos {
  color: #FF6060;
}
.sections .lodgingInfos .lodgingTitle {
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  word-break: break-word;
  line-height: 25.7px;
}
.sections .lodgingInfos .lodgingLocation {
  font-weight: 400;
  font-size: 14px;
  line-height: 25.7px;
}
.sections .lodgingInfos .tagsList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 12.1px;
  margin-bottom: 15px;
  font-size: 10px;
  line-height: 14.2px;
}
.sections .lodgingInfos .tagsList .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #FF6060;
  height: 18px;
  padding: 1% 2%;
  margin-right: 1%;
  border-radius: 5px;
}
.sections .hostAndRatingInfos {
  margin-top: 0px;
}
.sections .hostAndRatingInfos .rating {
  margin-top: 0px;
}

.hostAndRatingInfos {
  color: #FF6060;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.hostAndRatingInfos .host {
  display: flex;
  align-items: center;
}
.hostAndRatingInfos .host .hostName {
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: right;
  font-size: 12px;
  margin-right: 10.5px;
}
.hostAndRatingInfos .host .hostPicture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* ---------- IPAD, TABLETS (min-width: 481px / max-width: 768px) ---------- */
/* ---------- SMALL SCREENS, LAPTOPS (min-width: 769px / max-width: 1024px) ---------- */
@media screen and (min-width: 769px) {
  .sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sections .lodgingInfos .lodgingTitle {
    font-size: 20px;
    line-height: 37px;
  }
  .sections .lodgingInfos .lodgingLocation {
    font-size: 16px;
    line-height: 25.7px;
  }
  .sections .lodgingInfos .tagsList {
    margin-top: 20px;
    margin-bottom: 26px;
  }
  .sections .lodgingInfos .tagsList .tag {
    height: 25px;
    font-size: 14px;
    border-radius: 10px;
  }
  .sections .hostAndRatingInfos {
    display: flex;
    flex-direction: column;
    height: 120px;
  }
  .sections .hostAndRatingInfos .host .hostName {
    font-size: 18px;
  }
  .sections .hostAndRatingInfos .host .hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  .sections .hostAndRatingInfos .rating {
    margin-top: 0;
    margin-bottom: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
/* ---------- DESKTOP, LARGE SCREENS (min-width: 1025px / max-width: 1200px) ---------- */
@media screen and (min-width: 1025px) {
  .sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
  }
  .sections .lodgingInfos .lodgingTitle {
    font-size: 36px;
    line-height: 51.3px;
  }
  .sections .lodgingInfos .lodgingLocation {
    font-size: 18px;
    line-height: 25.7px;
  }
  .sections .hostAndRatingInfos {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin-left: 30px;
  }
  .sections .hostAndRatingInfos .hostName {
    font-size: 18px;
  }
  .sections .hostAndRatingInfos .hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  .sections .hostAndRatingInfos .rating {
    margin-top: 30px;
    margin-bottom: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
/* ---------- EXTRA LARGE SCREENS (min-width: 1201px) ---------- *//*# sourceMappingURL=LodgingInfos.module.css.map */