/* ---------- MOBILE-FIRST ---------- */

.sections {
    .lodgingInfos {
        color: #FF6060;
        .lodgingTitle {
            font-weight: 400;
            font-size: 18px;
            width: 100%;
            word-break: break-word;
            line-height: 25.7px;
        }
        .lodgingLocation {
            margin-top: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 25.7px;
        }
        .tagsList {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            height: 45px;
            margin-top: 12.1px;
            font-size: 10px;
            line-height: 14.2px;
            .tag {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFFFFF;
                background-color: #FF6060;
                height: 18px;
                padding: 1% 2%;
                margin-right: 1%;
                border-radius: 5px;
            }
        }
    }
    .hostAndRatingInfos {
        .rating {
            margin-top: 0px;
        }
        
    }
}

.hostAndRatingInfos {
    color: #FF6060;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .host {
        display: flex;
        align-items: center;
        .hostName {
            display: flex;
            width: 60px;
            text-align: right;
            font-size: 12px;
            margin-right: 10.5px;
            word-wrap: break-word;
        }
        .hostPicture {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}


/* ---------- RESPONSIVE TAB & DESKTOP ---------- */

@media screen and (min-width: 769px) {
    .sections {
        .lodgingInfos {
            .tagsList {
                margin-top: 20px;
                margin-bottom: 26px;
                .tag {
                    height: 25px;
                    font-size: 14px;
                    border-radius: 10px;
                }
            }
        }
    }
}

/* ---------- RESPONSIVE TAB ---------- */

@media screen and (min-width: 550px) and (max-width: 1050px) {
    .sections {
        display: flex;
        justify-content: space-between;
        .lodgingInfos {
            .lodgingTitle {
                font-size: 25px;
                line-height: 37px;
            }
            .lodgingLocation {
                font-size: 16px;
                line-height: 25.7px;
            }
        }
        .hostAndRatingInfos {
            display: flex;
            flex-direction: column;
            height: 120px;
            .host {
                .hostName {
                    font-size: 18px;
                }
                .hostPicture {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }
            .rating{
                margin-bottom: 15px;
            }
        }
    }
}

/* ---------- RESPONSIVE DESKTOP ---------- */

@media screen and (min-width: 1051px) {
    .sections {
        display: flex;
        justify-content: space-between;
        .lodgingInfos {
            .lodgingTitle {
                font-size: 36px;
                line-height: 51.3px;
            }
            .lodgingLocation {
                font-size: 18px;
                line-height: 25.7px;
            }
        }
        .hostAndRatingInfos {
            display: flex;
            flex-direction: column;
            height: 120px;
            .hostName {
                font-size: 18px;
            }
            .hostPicture {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
        }
    }
}